<div class="container text-center py-5">

 
  <i class="bi bi-exclamation-triangle text-danger"
     style="font-size: 80px;">
  </i>

  
  <h1 class="display-4 mt-3">
    Oops!
  </h1>

  
  <p class="lead">
    <%= message %>
  </p>

  
  <p class="text-muted">
    The page you are looking for does not exist or an error occurred.
  </p>

 
  <a href="/" class="btn btn-danger mt-3">
    Go Back Home
  </a>

</div>
