
<section class="hero mb-5">

  


  <div class="hero-content container">



    <h1 class="display-4 hero-title mb-1">DIY HOTPOT</h1>

    <div class="hero-subtitle mb-3">your pot your way</div>

    <div class="mb-3">
      <span class="hero-badges">Special Soups: Malatang • Tom Yum • Sukiyaki</span>
    </div>

    <div class="hero-open h4 mb-1">NOW AVAILABLE</div>

    <div class="mb-4 text-muted">
      Ready in ~15 minutes  
    </div>
     <div class="hero-open h4 mb-1">Open </div>
     <div class="mb-4 text-muted">
        11:00 AM - 9:00 PM Daily
    </div>

    <div class="d-flex gap-3 justify-content-center flex-wrap">
      <a href="/on-the-menu" class="btn btn-outline-danger px-4">
        View Menu
      </a>
      <a href="/sign-up" class="btn btn-danger px-4">
        Join Now
      </a>
    </div>

  </div>
</section>



<h2>Special Soups</h2>

<div class="row">

<% featuredMealKits.forEach(meal => { %>

<div class="col-md-4">
<%- include("partials/mealkit", {meal}) %>
</div>

<% }) %>

</div>
