<nav class="navbar navbar-dark bg-dark">

<div class="container">

<a class="navbar-brand d-flex align-items-center" href="/">

  <img
    src="/images/hotpot logo.jpg"
    alt="DIY Hotpot Logo"
    class="rounded-circle me-2"
    style="width:50px; height:50px; object-fit:cover;"
  >

  <span class="fw-bold text-white">
    DIY Hotpot
  </span>

</a>

<div>

<a href="/" class="btn btn-light">Home</a>

<a href="/sign-up" class="btn btn-light">Sign Up</a>

<a href="/log-in" class="btn btn-light">Login</a>

</div>

</div>

</nav>
